@import "custom-mixin";

.team-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;

  .alpha-mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    z-index: 201;
    background-color: rgba(0,0,0, 0.3);
  }

  &.jessica {
    background-image: url(<%= asset_path('team/Jessica_BGI.png')%>);
    .dot {
      background: #f2f888;
    }
  }

  &.modi {
    background-image: url(<%= asset_path('team/Modi_BGI.png')%>);
    .dot {
      background: #953333;
    }
  }

  &.nobi {
    background-image: url(<%= asset_path('team/Nobi_BGI.png')%>);
    .dot {
      background: #ffe309;
    }
  }

  &.david {
    background-image: url(<%= asset_path('team/David_BGI.png')%>);
    .dot {
      background: #b3ba9c;
    }
  }

  .modal-body {
    z-index: 202;
    position: relative;
    padding-right: calc(8% + 22px);
    flex-grow: 1;
    margin: auto 8% auto 11%;
    max-height: 100vh;
    overflow-y: scroll;

    * {
      color: white;
    }

    h1 {
      font-size: 32px;
      line-height: 1.4;
    }

    h3 {
      font-size: 16px;
      line-height: 1.8;
    }

    .font-gray {
      color:#ebebeb;
    }
  }
  .close-btn {
    position: absolute;
    right: 22px;
    top: 0;
    color: white;
    font-size: 30px;
    font-weight: 100;
    cursor: pointer;
    opacity: 0.4;

    &:hover {
      opacity: 1;
    }
  }

  .dot {
    @include border-radius(50%);
    width: 40px;
    height: 40px;
    margin-bottom: 60px;
  }

  .educations {
    border-top: white solid 1px;
    border-bottom: white solid 1px;
    margin: 15px 0 24px 0;
    padding: 24px 0;
  }

  .education {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .school {
      width: 100%;
    }
    .year {
      text-align: right;
    }
  }

  .experiece {
    display: flex;
    .col-1st {
      width: 35%;
    }
    .col-2nd {
      width: 35%;
    }
    .col-3rd {
      width: 15%;
    }
    .col-4th {
      width: 15%;
    }
  }

  @media screen and (max-width: 800px) {
    .modal-body {
      padding: 26px;
      margin: 0;
    }
    .dot {
      height: 20px;
      width: 20px;
      margin-bottom: 7px;
    }
    .experiece {
      margin-bottom: 8px;
      flex-wrap: wrap;
      .col-1st {
        width: 70%;
        order: 1;
      }
      .col-2nd {
        width: 70%;
        order: 3;
      }
      .col-3rd {
        width: 30%;
        order: 4;
        text-align: right;
      }
      .col-4th {
        width: 30%;
        order: 2;
        text-align: right;
      }
    }
  }
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
