<%= form_for(inco_project) do |f| %>
  <% if inco_project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inco_project.errors.count, "error") %> prohibited this inco_project from being saved:</h2>

      <ul>
      <% inco_project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label(:cover_photo, "封面照片") %><br>
  <%= image_tag(inco_project.cover_photo) %><br>
  <%= f.file_field :cover_photo, class: 'form-control-file' %>
  <%= f.label(:title_zh, "Chinese title") %>
  <%= f.text_field :title_zh, class: 'form-control' %><br>
  <%= f.label(:title_en, "English title") %>
  <%= f.text_field :title_en, class: 'form-control' %><br>
  <%= f.label(:inco_category, "Category") %>
  <%= f.select :inco_category, ['space', 'research', 'experience', 'communication'], class: 'form-control' %><br>
  <%= f.label(:custom_url, "Custom URL") %>
  <%= f.text_field :custom_url, class: 'form-control' %><br>
  <%= f.label(:site_url, "URL(如果專案是一個網站，可在這裡輸入網址，否則為空)") %>
  <%= f.text_field :site_url, class: 'form-control' %><br>
  <div class="form-check">
    <%= f.check_box :showing, class: 'form-check-input' %>
    <%= f.label(:showing, "Showing?", class: 'form-check-label') %>
  </div><br>
  <%= f.label(:location, "Location") %>
  <%= f.text_field :location, class: 'form-control' %><br>
  <%= f.label(:dates, "Dates") %>
  <%= f.text_field :dates, class: 'form-control' %><br>
  <%= f.label(:status, "Status") %>
  <%= f.text_field :status, class: 'form-control' %><br>
  <%= f.label(:partners, "Partners") %>
  <%= f.text_field :partners, class: 'form-control' %><br>
  <%= f.label(:keywords_zh, "Chinese Keywords(seperated by 、)") %>
  <%= f.text_field :keywords_zh, class: 'form-control' %><br>
  <%= f.label(:keywords_en, "English Keywords(seperated by 、)") %>
  <%= f.text_field :keywords_en, class: 'form-control' %><br>
  <%= f.label(:process_title_zh, "Chinese Process title") %>
  <%= f.text_field :process_title_zh, class: 'form-control' %><br>
   <%= f.label(:process_title_en, "EnglishProcess title") %>
  <%= f.text_field :process_title_en, class: 'form-control' %><br>
  <%= f.label(:services_zh, "Chinese services") %>
  <%= f.text_field :services_zh, class: 'form-control' %><br>
  <%= f.label(:services_en, "English services") %>
  <%= f.text_field :services_en, class: 'form-control' %><br>

  <%= f.label(:description_zh, "Chinese Description") %>
  <%= f.text_area(:description_zh, class: "f_editor") %>
    <%= f.label(:description_en, "English Description") %>
  <%= f.text_area(:description_en, class: "f_editor") %>
    <%= f.label(:challenge_zh, "Chinese Challenge") %>
  <%= f.text_area(:challenge_zh, class: "f_editor") %>
    <%= f.label(:challenge_en, "English Challenge") %>
  <%= f.text_area(:challenge_en, class: "f_editor") %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
