<p id="notice"><%= notice %></p>

<h1>Inco Projects</h1>
<h5>(projects order can change by drag&drop)</h5>

<table class="table">
  <thead>
    <tr>
      <th>Project Name</th>
      <th colspan="3">ProjectContents</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody class="sortable"> <!-- sortable target -->
    <% @inco_projects.each_with_sortable_id do |inco_project, sortable_id| %>
      <tr id="<%= sortable_id %>"> <!-- Needs id tag on sorting elements -->
        <td><%= inco_project.title %></td>
        <td><%= link_to 'Process', inco_process_inco_pictures_path(inco_project.inco_process) %></td>
        <td><%= link_to 'Final', inco_final_inco_pictures_path(inco_project.inco_final) %></td>
        <td><%= link_to 'Finding', inco_finding_path(inco_project.inco_finding) %></td>
        <td><%= link_to 'Show_Project', project_path(inco_project.custom_url) %></td>
        <td><%= link_to 'Edit_Project', edit_inco_project_path(inco_project) %></td>
        <td><%= link_to 'Destroy', inco_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inco Project', new_inco_project_path %>
