<%= form_for([@inco_content, inco_picture]) do |f| %>
  <% if inco_picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inco_picture.errors.count, "error") %> prohibited this inco_picture from being saved:</h2>

      <ul>
      <% inco_picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title_color, "title color(preventing light title on light background)" %>
    <%= f.select :title_color, %w(light dark) %>
  </div>

  <div class="field">
    <%= f.label :photo, "Photo(jpg, png) or Video file(only mp4)" %>
    <%= f.file_field :photo %>
  </div>

  <div class="field">
    <%= f.label :poster, 'Video Poster(need it when uploading video file)' %>
    <%= f.file_field :poster %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
