<p id="notice"><%= notice %></p>

<h1>Inco Pictures</h1>

<table class="table">
  <thead>
    <tr>
      <th>Photo</th>
      <th>VideoPoster</th>
      <th>title color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="sortable">  <!-- sortable target -->
    <% @inco_pictures.each_with_sortable_id do |inco_picture, sortable_id| %>
      <tr class="<%= sortable_id %>">
        <td><%= image_tag(inco_picture.is_image? ? inco_picture.photo.thumb : inco_picture.photo.video_thumb, class: "thumbnail") %></td>
        <td>
          <% if inco_picture.poster %>
          <%= image_tag(inco_picture.poster, class: "thumbnail") %>
          <% end %>
        </td>
        <td><%= inco_picture.title_color %></td>
        <td><%= link_to 'Show', inco_picture %></td>
        <td><%= link_to 'Edit', edit_inco_picture_path(inco_picture) %></td>
        <td><%= link_to 'Destroy', inco_picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inco Picture', new_picture_path %>
