<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <% if @inco_picture.is_image? %>
    <%= image_tag @inco_picture.photo %>
  <% else %>
    <%= video_tag @inco_picture.photo %>
  <% end %>
</p>

<p>
  <strong>poster:</strong>
  <% if @inco_picture.poster %>
    <%= image_tag @inco_picture.poster %>
  <% end %>
</p>

<p>
  <strong>title color</strong>
  <%= @inco_picture.title_color %>
</p>

<%= link_to 'Edit', edit_inco_picture_path(@inco_picture) %> |
<%= link_to 'Back', pictures_index_path %>
