<script>
  $("document").ready(function() {
    canvas = document.getElementById("canvas");
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
    ctx = canvas.getContext("2d");
    ctx.fillStyle = "#566746";
    if($(window).width() < 768){
      sideCount = 10;
      ctx.fillStyle = "#929d87";
      cx = -window.innerWidth * 1.55;
      cy = -window.innerHeight / 3;
      end_x = 90;
      end_y = 24;
      radius = window.innerWidth * 3;
    }
    pushSides();
    drawSides(percent);

    // redo tweening
    $( window ).resize(function() {
      canvas.width = window.innerWidth;
      canvas.height = window.innerHeight;
      ctx = canvas.getContext("2d");
      ctx.fillStyle = ($(window).width() > 768) ? "#566746" : "#929d87";
      pushSides();
      drawSides(percent);
    });

    <% if params[:action] == 'index' %>
    if($(window).width() < 768) {
      $('#navbar_mobile').css('background-color', 'transparent');
    }
    <% end %>
  });
</script>
<!-- SECTION01 -->
<div class="section " id="section0">
  <div class="container">
    <div class="col-sm-offset-1 col-xs-8 col-md-10">
      <p class="i_des">
        <%=raw t('inco.mission') %>
        <span>hi@in-co.studio :)</span>
      </p>
    </div>
  </div>
</div>
<!--END SECTION01-->
<%= render 'pages/partials/what' %>
<%= render 'pages/partials/projects' %>
<%= render 'pages/partials/team' %>
<%= render 'pages/partials/contact' %>
