<div class="container" id="projects_page">
  <div class="col-sm-offset-1 col-sm-9 col-xs-12">
    <h1 class="title title_project i_title">Projects</h1>
    <div class="categories">
      <% %w(all space experience communication research).each do |cat| %>
        <span class="category_btn" category="<%= cat %>">
          <span>
            <%= cat %>
            <i></i>
          </span>
        </span>
      <% end %>
    </div>


    <% @projects.each do |project| %>
      <div class="project" category="<%= project.inco_category %>">
        <div class="title">
          <h4 class="tag_pc"><%= project.inco_category %></h4>
          <h3><%= link_to project.title, project_path(project.custom_url) %></h3>
        </div>
        <%= image_tag project.cover_photo, class: 'project_cover' %>
        <div class="mask"></div>
      </div>
    <% end %>

  </div>
</div>
