<script>
  $(document).ready(function(){
    $(".project_section01").css("background", "url(<%= @project.cover_photo %>)");
    $(".project_section05").css("background-image", "url(<%= asset_url(@project.inco_finding.cover_photo.alpha) %>)");
    $(".heros").css("background", "url(<%= @project.cover_photo %>)");


    // SLICK
    $(".final_content").slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplaySpeed: 2000,
        arrows: false,
        speed: 600,
        responsive: [
          {
            breakpoint: 640,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
    });
    $(".video_for").slick({
        autoplaySpeed: 2000,
        asNavFor: '#video_nav',
        arrows: false,
        speed: 600,
        responsive: [
          {
            breakpoint: 640,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
    });
    $("#video_nav").slick({
      slidesToShow: 4,
      arrows: false,
      asNavFor: '.video_for',
      variableWidth: true
    });

    $("#video_for_mobile").slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplaySpeed: 2000,
      arrows: false,
      speed: 600
    });

    var top = $("#submit_btn").position().top + $("#submit_btn").height();
    var left = (parseInt($("#submit_btn").css("padding-left").replace(/px/,""))+$("#submit_btn").position().left)+"px";
  });
</script>

<div class="tag_pc">
  <%= render 'pages/partials/project_pc' %>
</div>

<div class="tag_mobile">
  <%= render 'pages/partials/project_mobile' %>
</div>
