<script>
  $(document).ready(function(){
    // SLICK
    $("#why_slick").slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        dots: true,
        autoplay:true,
        autoplaySpeed: 2500,
        responsive: [
          {
            breakpoint: 640,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              dots: true
            }
          }
        ]
    });
    $('#why_slick').click(function() {
        $('#why_slick').slick('slickNext');
      });
  });
</script>
<!-- SECTION01 -->
<div class="section" id="whywhatwho_section0">
  <div class="container">
    <div class="col-sm-offset-1 col-xs-10">
      <p class="about_des">Why / What / Who</p>
    </div>
    <div id="why_slick">
      <div class="slick_img">
        <div class="container">
          <div class="col-sm-offset-1 col-xs-10">
            <ul class="about_section01">
              <li class="i_title">Why in-co?</li>
              <li class="i_des"><%= t('whywhatwho.innovative') %>
                <span><%=raw t('whywhatwho.innovative_description') %></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="slick_bg"><%= image_tag "conv_team1.jpg" %></div>
      </div>
      <div class="slick_img">
        <div class="container">
          <div class="col-sm-offset-1 col-xs-10">
            <ul class="about_section01">
              <li class="i_title">Why in-co?</li>
              <li class="i_des"><%= t('whywhatwho.value') %>
                <span><%= t('whywhatwho.value_description') %></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="slick_bg"><%= image_tag "conv_team2.jpg" %></div>
      </div>
      <div class="slick_img">
        <div class="container">
          <div class="col-sm-offset-1 col-xs-10">
            <ul class="about_section01">
              <li class="i_title">Why in-co?</li>
              <li class="i_des"><%= t('whywhatwho.sustainable') %>
                <span><%= t('whywhatwho.sustainable_description') %></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="slick_bg"><%= image_tag "conv_team3.jpg" %></div>
      </div>
      <div class="slick_img">
        <div class="container">
          <div class="col-sm-offset-1 col-xs-10">
            <ul class="about_section01">
              <li class="i_title">Why in-co?</li>
              <li class="i_des"><%= t('whywhatwho.impact') %>
                <span><%= t('whywhatwho.impact_description') %></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="slick_bg"><%= image_tag "conv_team4.png" %></div>
      </div>
    </div>
  </div>
</div>
<!--END SECTION01-->

<%= render 'pages/partials/what' %>
<%= render 'pages/partials/team' %>
