<%= form_tag(contact_email_path, method: "post") do %>
  <ul class="contact_list col-md-8 col-xs-12 bootstrap_default">
    <li>M. +886 920 213 466</li>
    <li>W. in-co.studio</li>
    <li>E. hi@in-co.studio</li>
    <li>A. 台北市中山區中山北路一段 98 號 3 樓</li>
    <li>
      <%= text_field_tag(:email, '', {placeholder: 'Email Address', class: 'contact_email'})%>
    </li>
    <li>
      <%= text_area_tag(:content, '', {placeholder: "Let's have a discussion !", class: 'contact_textarea'})%>
    </li>
    <li>
      <div class="btn_underline">
        <span></span>
        <%= submit_tag("Submit", {id: 'submit_btn', class: 'submit_btn'}) %>
      </div>
    </li>
  </ul>
<% end %>
