<!-- SECTION05 -->
<div class="section contact_map_section" id="section5">
  <div class="contact_map" id="map"></div>
  <div class="contact_mask"></div>
  <div class="container_info">
    <div class="i_title">Contact</div>
    <p class="contact_des">Let's be crazy together!</p>

    <%= render "pages/partials/comment_form" %>
  </div>
  <script>

  var center_lat = ($(window).width() < 768) ? 121.5190056 : 121.5120;
  function initMap() {
    // Create a new StyledMapType object, passing it an array of styles,
    // and the name to be displayed on the map type control.
    var styledMapType = new google.maps.StyledMapType(
      [{
          "featureType": "administrative.land_parcel",
          "elementType": "labels",
          "stylers": [{
            "visibility": "off"
          }]
        },
        {
          "featureType": "landscape.man_made",
          "stylers": [{
            "visibility": "off"
          }]
        },
        {
          "featureType": "landscape.natural",
          "elementType": "geometry.fill",
          "stylers": [{
            "color": "#e8e7db"
          }]
        },
        {
          "featureType": "poi",
          "elementType": "geometry.fill",
          "stylers": [{
            "visibility": "off"
          }]
        },
        {
          "featureType": "poi",
          "elementType": "labels",
          "stylers": [{
            "visibility": "off"
          }]
        },
        {
          "featureType": "poi.business",
          "stylers": [{
            "visibility": "off"
          }]
        },
        {
          "featureType": "poi.park",
          "elementType": "labels.text",
          "stylers": [{
            "visibility": "off"
          }]
        },
        {
          "featureType": "road",
          "elementType": "geometry.stroke",
          "stylers": [{
            "visibility": "off"
          }]
        },
        {
          "featureType": "road.arterial",
          "elementType": "geometry.fill",
          "stylers": [{
              "color": "#ccd0bd"
            },
            {
              "weight": 6
            }
          ]
        },
        {
          "featureType": "road.arterial",
          "elementType": "labels.text.fill",
          "stylers": [{
            "color": "#aeaa82"
          }]
        },
        {
          "featureType": "road.arterial",
          "elementType": "labels.text.stroke",
          "stylers": [{
            "visibility": "off"
          }]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry.fill",
          "stylers": [{
            "color": "#b5ba9e"
          }]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry.stroke",
          "stylers": [{
            "visibility": "off"
          }]
        },
        {
          "featureType": "road.highway",
          "elementType": "labels",
          "stylers": [{
            "visibility": "off"
          }]
        },
        {
          "featureType": "road.local",
          "elementType": "geometry.fill",
          "stylers": [{
              "color": "#d5d7c8"
            },
            {
              "weight": 2.5
            }
          ]
        },
        {
          "featureType": "road.local",
          "elementType": "labels.text",
          "stylers": [{
            "color": "#aba77c"
          }]
        },
        {
          "featureType": "road.local",
          "elementType": "labels.text.fill",
          "stylers": [{
            "color": "#b9b695"
          }]
        },
        {
          "featureType": "road.local",
          "elementType": "labels.text.stroke",
          "stylers": [{
            "visibility": "off"
          }]
        },
        {
          "featureType": "transit",
          "elementType": "labels.text.fill",
          "stylers": [{
            "color": "#837d54"
          }]
        },
        {
          "featureType": "transit",
          "elementType": "labels.text.stroke",
          "stylers": [{
            "visibility": "off"
          }]
        },
        {
          "featureType": "transit.line",
          "elementType": "geometry",
          "stylers": [{
            "weight": 1.5
          }]
        },
        {
          "featureType": "transit.station.bus",
          "elementType": "labels",
          "stylers": [{
            "visibility": "off"
          }]
        }
      ], { name: 'Styled Map' });

    // Create a map object, and include the MapTypeId to add
    // to the map type control.
    var map = new google.maps.Map(document.getElementById('map'), {
      center: { lat: 25.049427, lng: center_lat },
      zoom: 16,
      mapTypeControlOptions: {
        mapTypeIds: []
      },
      streetViewControl: false,
      scrollwheel: false,
      navigationControl: false,
      mapTypeControl: false,
      scaleControl: false,
      draggable: true
    });

    var marker = new google.maps.Marker({
      position: { lat: 25.049427, lng: 121.521130 },
      map: map,
      title: 'IN-CO Studio!'
    });

    //Associate the styled map with the MapTypeId and set it to display.
    map.mapTypes.set('styled_map', styledMapType);
    map.setMapTypeId('styled_map');
  }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= Settings.google_map.key %>&callback=initMap">
  </script>
</div>
<!--END SECTION05-->
