<!-- SECTION06 -->
<div class="section" id="section6">
  <div class="tag_pc">
    <%= render 'pages/partials/menu', parent_partial: 'footer' %>
  </div>
  <div class="tag_mobile">
    <%= render 'pages/partials/menu_mobile', parent_partial: 'footer' %>
  </div>
</div>
<!--END SECTION06-->
