<div id="navbar_mobile"></div>
<div class="logo">
  <h1><%= link_to 'INCO', root_path %></h1>
</div>
<div class="lan">
  <% if I18n.locale == :zh %>
    <%= link_to 'EN', swap_locale_path(lang: :en) %>
  <% else %>
    <%= link_to '繁中', swap_locale_path(lang: :zh) %>
  <% end %>
</div>
<div id="menu">
  <span></span>
  <span></span>
  <span></span>
</div>
<nav>
  <div class="tag_pc">
    <%= render 'pages/partials/menu', parent_partial: 'header' %>
  </div>
  <div class="tag_mobile">
    <%= render 'pages/partials/menu_mobile', parent_partial: 'header' %>
  </div>
</nav>
