<div class="container mobile_menu">
  <% if parent_partial == 'header' %>
    <div class="menuon">
      <span></span>
      <span></span>
      <span></span>
    </div>
  <% end %>
  <div class="col-xs-12">
    <div class="footer_logo">
      <span class="nav_sns"><a target="_blank" href="https://www.instagram.com/inco.studio/ ">ig:inco.studio</a></span>
    </div>

    <div class="links">
      <h1>
        <%= link_to whywhatwho_path do %>
          <span>WHY / WHAT / WHO</span>
        <% end %>
      </h1>
      <h1 id='middle_link'>
        <%= link_to projects_path do %>
            <span>PROJECTS</span>
          <% end %>
      </h1>
      <h1>
        <%= link_to contact_path do %>
            <span>CONTACT</span>
          <% end %>
      </h1>
    </div>

    <div class="info">
      <p class="nav_info">
        O. 886 2 2562 7402<br>
        W. in-co.studio<br>
        A. 台北市中山區中山北路一段 135 巷 36 號 3 樓<br>
      </p>
      <div class="nav_email">
        <%= form_tag subscribe_email_path, id: "subscribe_form" do %>
          <%= text_field_tag(:email, nil, placeholder: "Your Email") %>
          <button type="btn submit" form="subscribe_form" value="Submit">subscribe</button>
        <% end %>
      </div>
    </div>

    <div class="footer">
      <h4>2O18 in-co copyright</h4>
    </div>
  </div>
</div>
