<ul class="container">
  <!-- create the menu switch -->
  <% if parent_partial == 'header' %>
    <div class="menuon">
      <span></span>
      <span></span>
      <span></span>
    </div>
  <% end %>

  <li class="nav_right col-sm-offset-1 col-md-5 col-xs-12">
    <h1>
      <%= link_to whywhatwho_path do %>
        <span>WHY / WHAT / WHO</span>
      <% end %>
    </h1>
    <h1 id='middle_link'>
      <%= link_to projects_path do %>
          <span>PROJECTS</span>
        <% end %>
    </h1>
    <h1>
      <%= link_to contact_path do %>
          <span>CONTACT</span>
        <% end %>
    </h1>
  </li>
  <li class="nav_left col-sm-offset-1 col-md-5 col-xs-11">
    <ul>
      <li class="nav_name">
        <%= image_tag 'logo.png' %>
        <span class="nav_sns"><a target="_blank" href="https://www.instagram.com/inco.studio/ ">ig:inco.studio</a></span>
      </li>
      <li class="nav_info">O. 886 2 2562 7402
        <br/>W. in-co.studio
        <br/>A. 台北市中山區中山北路一段 135 巷 36 號 3 樓
      </li>
      <li class="nav_email">
        <%= form_tag(subscribe_email_path, id: "subscribe_form") do %>
          <!-- <input type="text" placeholder="Your Email"> -->
          <%= text_field_tag(:email_subs, nil, placeholder: "Your Email") %>
          <button type="submit" value="Submit">subscribe</button>
        <% end %>
      </li>
    </ul>
  </li>
</ul>
<footer>
  <%= link_to 'EN', swap_locale_path(lang: :en) %> | <%= link_to '繁中', swap_locale_path(lang: :zh) %>
  <br/> 2018 in-co copyright
</footer>
