<!-- SECTION03 -->
<div class="section" id="section2">
  <div class="container">
    <div class="col-sm-offset-1 col-md-9 col-xs-12">
      <h1 class="title title_project">Projects</h1>
      <h3 id="project_category">
        <%= link_to '', projects_path %>
      </h3>
      <div id="inco_projects">
        <% @projects.each do |project| %>
          <div class="project" category="<%= project.inco_category %>">
            <h3><%= link_to project.title, project_path(project.custom_url) %></h3>
            <%= image_tag project.cover_photo, class: 'project_cover' %>
            <%= link_to project_path(project.custom_url) do %>
            <div class="mask"></div>
            <% end %>
          </div>
        <% end %>
      </div>
      <h4><%= link_to 'MORE PROJECTS', projects_path %></h4>
    </div>
  </div>
</div>
<!--END SECTION03-->
