<!-- SECTION01 -->
<div class="section project_section01" id="section0">
  <div class="container col-md-offset-2 col-md-8">
    <h3>
      <%= link_to 'PROJECTS', projects_path %>
      /
      <%= link_to @project.inco_category, projects_path(:q => @project.inco_category) %>
    </h3>
    <h1><%= @project.title %></h1>
    <article class="tag_pc">
      <%=raw @project.description %>
    </article>
  </div>
</div>

<!-- SECTION02 -->
<div class="section project_section02" id="section1">
  <div class="container">
    <div class="col-md-offset-1 col-md-10">

      <div class="tag_pc">
        <div class="project_des">
        CHALLENGE
        </div>
        <div class="widget-title">
          <span><%=raw @project.challenge %></span>
        </div>
      </div>

      <div class="project_title02">
        <span>O1</span>OVERVIEW
      </div>
      <ul class="project_list">
        <li class="col-md-6 col-xs-12 bootstrap_default">Location<span><%= @project.location %></span></li>
        <li class="col-md-6 col-xs-12 bootstrap_default">Dates<span><%= @project.dates %></span></li>
        <li class="col-md-6 col-xs-12 bootstrap_default">Status<span><%= @project.status %></span></li>
        <li class="col-md-6 col-xs-12 bootstrap_default">Services<span><%= @project.services %></span></li>
        <li class="col-md-6 col-xs-12 bootstrap_default">Partners<span><%= @project.partners %></span></li>
      </ul>

      <% if @project.site_url.present? %>
        <%= link_to 'Go to site', @project.site_url, {class: 'link_out', target: "_blank"} %>
      <% end %>

      <div class="tag_mobile">
        <div class="widget-title">
          <span><%=raw @project.challenge %></span>
        </div>
      </div>

      <ul class="project_keyword">
        <li><span>KEYWORDS</span>
          <% @project.keywords.split('、').each do |keyword| %>
            <a href="javascript:;">● <%= keyword %></a>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--END SECTION02-->

<!-- SECTION03 -->
<div class="section project_section03" id="section2">
  <div class="container">
    <div id="final_title" class="tag_pc">
      <h1>02</h1>
      <h3>FINAL</h3>
    </div>
  </div>
  <div class="final_content">
    <% @final.inco_pictures.each do |pic| %>
      <div class="final_pic" title_color="<%= pic.title_color %>">
        <% if pic.is_image? %>
          <%= image_tag pic.photo %>
        <% else %>
          <%= video_tag pic.photo, controls: true, autobuffer: true, poster: pic.poster %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<!--END SECTION03-->

<!-- SECTION04 -->
<div class="section project_section04" id="section3">
  <div class="container">

    <div class="row">
      <div class="col-md-offset-1 col-md-9">
        <ul id="video_for" class="slick video_for">
          <% @process.inco_pictures.each do |pic| %>
            <div>
              <% if pic.is_image? %>
                <%= image_tag pic.photo %>
              <% else %>
                <%= video_tag pic.photo, controls: true, autobuffer: true, poster: pic.poster %>
              <% end %>
            </div>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="tag_pc process_title">
      <div class="col-md-offset-1 col-md-1">
        <h3 class="project_title02 project_title03"><span>O3</span>PROCESS</h3>
      </div>
      <div class="col-md-3">
        <h2><%= @project.process_title %></h2>
      </div>
      <div class="col-md-5">
        <div id="video_nav">
          <% @process.inco_pictures.each do |pic| %>
            <div class="slick_nav">
              <%= image_tag(pic.is_image? ? pic.photo.thumb : pic.photo.video_thumb) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!--END SECTION04-->

<!-- SECTION05 -->
<div class="section project_section05" id="section4">
  <div class="alpha_bg"></div>
  <div class="container">
    <div class="project_title02 col-md-offset-1 col-md-2 col-xs-12">
      <span>O4</span>FINDINGS
    </div>
    <div class="col-md-7">
      <article data-simplebar class="finding_article col-md-7">
        <%=raw @project.inco_finding.description %>
      </article>
    </div>
  </div>
</div>
<!--END SECTION05-->

<!-- SECTION06 -->
<div class="section project_section06" id="section5">
  <div class="container">
    <div class="row">
      <div class="project_title02 col-md-offset-1 col-md-2 col-xs-12">
        <span>O5</span>YOUR TURN
      </div>
        <%= form_tag contact_email_path, class: "col-md-9 col-xs-12" do %>
      <ul class="contact_list">
        <li>分享你的想法?</li>
        <li>in-co 很希望可以了解你的想法，很希望得到你的回信 :)</li>
        <li>
          <%= text_field_tag(:email, '', {placeholder: 'Email Address', class: 'contact_email'})%>
        </li>
        <li>
          <%= text_area_tag(:content, '', {placeholder: "Let's have a discussion !", class: 'contact_textarea'})%>
        </li>
        <li>
          <div class="btn_underline">
            <span></span>
            <%= submit_tag("SUBMIT", {id: 'submit_btn', class: 'submit_btn'}) %>
          </div>
        </li>
      </ul>
        <% end %>
    </div>
  </div>
</div>
<!--END SECTION06-->

<%= render "pages/partials/footer" %>
