<div class="container-fluid" id="project_container">
  <!-- SECTION01 -->
  <div id="section1">
    <div class="heros">
      <%= image_tag @project.cover_photo %>
      <div class="head_line">
        <h3>
          <%= link_to 'Projects', projects_path %>
          /
          <%= link_to @project.inco_category, projects_path(:q => @project.inco_category) %>
        </h3>
        <h1><%= @project.title %></h1>
      </div>
    </div>
    <article>
      <%=raw @project.description %>
    </article>
  </div>

  <div class="project_section02">
    <h3 class="project_title project_title02"><span>O1</span>OVERVIEW</h3>

    <ul class="project_list">
      <li class="col-md-6 col-xs-12 bootstrap_default">Location<span><%= @project.location %></span></li>
      <li class="col-md-6 col-xs-12 bootstrap_default">Dates<span><%= @project.dates %></span></li>
      <li class="col-md-6 col-xs-12 bootstrap_default">Status<span><%= @project.status %></span></li>
      <li class="col-md-6 col-xs-12 bootstrap_default">Services<span><%= @project.services %></span></li>
      <li class="col-md-6 col-xs-12 bootstrap_default">Partners<span><%= @project.partners %></span></li>
    </ul>

    <% if @project.site_url.present? %>
      <%= link_to 'Go to site', @project.site_url, { class: 'link_out' } %>
    <% end %>

    <div class="tag_mobile">
      <div class="widget-title">
        <span><%=raw @project.challenge %></span>
      </div>
    </div>

    <ul class="project_keyword">
      <li><span>KEYWORDS</span>
        <% @project.keywords.split('、').each do |keyword| %>
          <a href="javascript:;">● <%= keyword %></a>
        <% end %>
      </li>
    </ul>
  </div>


  <div id="section3">
    <h3 class="project_title02">
      <span>O2</span>FINAL
    </h3>
    <div class="final_content">
      <% @final.inco_pictures.each do |pic| %>
        <div class="final_pic">
          <% if pic.is_image? %>
            <%= image_tag pic.photo %>
          <% else %>
            <%= video_tag pic.photo, controls: true, autobuffer: true, poster: pic.poster %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>



  <div id="section4">
    <div class="project_title02">
      <h3><span>03</span>PROCESS</h3>
      <h2><%= @project.process_title %></h2>
    </div>

    <div id="video_for_mobile">
      <% @process.inco_pictures.each do |pic| %>
        <div>
          <% if pic.is_image? %>
            <%= image_tag pic.photo %>
          <% else %>
            <%= video_tag pic.photo, controls: true, autobuffer: true, poster: pic.poster %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div id="section5">
    <h3 class="project_title02">
      <span>O4</span>FINDINGS
    </h3>
    <article>
      <%=raw @project.inco_finding.description %>
    </article>
  </div>

  <div class="section6">
      <h3 class="project_title02">
        <span>O5</span>YOUR TURN
      </h3>
      <h2>分享你的想法?</h2>
      <p>in-co 很希望可以了解你的想法，很希望得到你的回信 :)</p>
      <%= form_tag contact_email_path do %>
        <%= text_field_tag(:email, '', {placeholder: 'Email Address', class: 'contact_email'})%>
        <%= text_area_tag(:content, '', {placeholder: "Let's have a discussion !", class: 'contact_textarea'})%>
        <%= submit_tag("SUBMIT", {id: 'submit_btn'}) %>
      <% end %>
  </div>

</div>
