<!-- SECTION04 -->
<div class="section " id="section3">
  <div class="container">
    <div id="vue-team" class="col-sm-offset-1 col-xs-12 col-md-10">
      <div class="i_title">Who are in-co ?</div>
      <%=raw t('whywhatwho.team.we') %>
      <p class="designer_des">in-co is a(n)
        <span id="js-rotating"><%= t('whywhatwho.team.description') %></span>
      </p>

      <%= render "pages/partials/team_modal" %>
      <% team_members.each do |member| %>
        <div class="designer_list col-xs-12 col-md-3">
          <div class="designer_photo col-xs-7 col-md-12" @click="openModal('<%= member[:short] %>')">
            <span class="mask"><%= image_tag member[:photo_hover] %></span>
            <%= image_tag(member[:photo], alt: member[:name]) %>
          </div>
          <div class="designer_title col-xs-5 col-md-12">
            <div class="designer_name" @click="openModal('<%= member[:short] %>')">
              <span><%= member[:name] %></span>
            </div>
            <h4 class="designer_job"><%= member[:title] %></h4>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
<!--END SECTION04-->
