<transition name="fade">
  <div class="team-modal" :class="target" v-show="modalOpened">
      <div class="alpha-mask"></div>
      <div class="modal-body">
        <div class="close-btn" @click="closeModal()">&times;</div>

        <div class="dot"></div>

        <h1>{{ members[target].name }}</h1>
        <h3>{{ members[target].title }}</h3>
        <div class="educations">
          <div class="education"
                v-for="edu in members[target].education"
                :key="edu.index">
            <h3 class="school">{{ edu.school }}</h3>
            <h3 class="degree font-gray">{{ edu.degree }}</h3>
            <h3 class="year font-gray">{{ edu.year }}</h3>
          </div>
        </div>
        <div class="experieces">
          <div class="experiece"
                v-for="exp in members[target].experience"
                :key="exp.index">
            <div class="col-1st">{{ exp.col1 }}</div>
            <div class="col-2nd font-gray">{{ exp.col2 }}</div>
            <div class="col-3rd font-gray">{{ exp.col3 }}</div>
            <div class="col-4th font-gray">{{ exp.col4 }}</div>
          </div>
        </div>
      </div>
  </div>
</transition>
