<!-- SECTION02 -->
<div class="section" id="section1">
  <div class="container">
    <div class="col-sm-offset-1 col-xs-12 col-md-10" id="offers">
      <h1 class="i_title">What in-co offers ?</h1>
      <div class="row">
        <div class="col-md-4 offer">
          <h3><%= t('whywhatwho.expertises.design_research.title') %></h3>
          <p><%= t('whywhatwho.expertises.design_research.description') %></p>
        </div>
        <div class="col-md-4 offer">
          <h3><%= t('whywhatwho.expertises.research_design.title') %></h3>
          <p><%= t('whywhatwho.expertises.research_design.description') %></p>
        </div>
        <div class="col-md-4 offer">
          <h3><%= t('whywhatwho.expertises.participatory.title') %></h3>
          <p><%= t('whywhatwho.expertises.participatory.description') %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 offer">
          <h3><%= t('whywhatwho.expertises.planning.title') %></h3>
          <p><%= t('whywhatwho.expertises.planning.description') %></p>
        </div>
        <div class="col-md-4 offer">
          <h3><%= t('whywhatwho.expertises.spatial.title') %></h3>
          <p><%= t('whywhatwho.expertises.spatial.description') %></p>
        </div>
        <div class="col-md-4 offer">
          <h3><%= t('whywhatwho.expertises.scale.title') %></h3>
          <p><%= t('whywhatwho.expertises.scale.description') %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 offer">
          <h3><%= t('whywhatwho.expertises.disciplinary.title') %></h3>
          <p><%= t('whywhatwho.expertises.disciplinary.description') %></p>
        </div>
        <div class="col-md-4 offer">
          <h3><%= t('whywhatwho.expertises.branding.title') %></h3>
          <p><%= t('whywhatwho.expertises.branding.description') %></p>
        </div>
        <div class="col-md-4 offer">
          <h3><%= t('whywhatwho.expertises.o2o.title') %></h3>
          <p><%= t('whywhatwho.expertises.o2o.description') %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--END SECTION02-->
