<%= form_for(inco_finding) do |f| %>
  <% if inco_finding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inco_finding.errors.count, "error") %> prohibited this inco_finding from being saved:</h2>

      <ul>
      <% inco_finding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cover_photo %>
    <%= f.file_field :cover_photo %>
  </div>

  <div class="field">
    <%= f.label :description_zh %>
    <%= f.text_area :description_zh, class: "f_editor" %>
  </div>

  <div class="field">
    <%= f.label :description_en %>
    <%= f.text_area :description_en, class: "f_editor" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
