<p id="notice"><%= notice %></p>

<p>
  <strong>Cover photo:</strong><br>
  <%= image_tag @inco_finding.cover_photo %>
</p>

<p>
  <strong>Description zh:</strong><br>
  <%=raw @inco_finding.description_zh %>
</p>

<p>
  <strong>Description en:</strong><br>
  <%=raw @inco_finding.description_en %>
</p>

<%= link_to 'Edit', edit_inco_finding_path(@inco_finding) %> |
<%= link_to 'Back', inco_projects_path %>
