 @import "froala_editor.min";
 @import "froala_style.min";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "bootstrap";

header {
  width: 100%;
  border-bottom: solid 2px;
}

img {
  width: 300px;
}
.thumbnail {
  width: auto;
  height: 90px;
 }

.fr-wrapper {
  height: 100vh;
}
