@charset "UTF-8";

$color: #566746;
$color_sec: #929d87;
$color_thi: #f2efda;
$color_hover: #fec63d;

@mixin after_underline {
  width: 0;
  z-index: 9999;
  height: 3px;
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
}

@mixin after_hover_underline {
  width: 100%;
  box-shadow: inset 0 2px $color_hover;
  -moz-box-shadow: inset 0 2px $color_hover;
  -webkit-box-shadow: inset 0 2px $color_hover;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
}

@mixin placeholder-color($color) {
  &::-webkit-input-placeholder { /* WebKit browsers */
      color: $color;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $color;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $color;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: $color;
  }
}

@mixin transform($how) {
  -webkit-transform: $how;
     -moz-transform: $how;
      -ms-transform: $how;
       -o-transform: $how;
          transform: $how;
}

@mixin border_box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin border-radius($amount) {
  -webkit-border-radius: $amount;

  /* Firefox 1-3.6 */
  -moz-border-radius: $amount;

  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: $amount;
}

.icons-sprite,
.icons-icon01 {
  background-image: url(<%= asset_path 'icons-se538734426.png' %>);
  background-repeat: no-repeat;
}

.icons-icon01 {
  background-position: 0 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
}

.container-fluid:before,
.container-fluid:after {
  content: " ";
  display: table;
}

.container-fluid:after {
  clear: both;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}

.col-xs-1 {
  width: 8.33333%;
}

.col-xs-2 {
  width: 16.66667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.33333%;
}

.col-xs-5 {
  width: 41.66667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.33333%;
}

.col-xs-8 {
  width: 66.66667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.33333%;
}

.col-xs-11 {
  width: 91.66667%;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-pull-1 {
  right: 8.33333%;
}

.col-xs-pull-2 {
  right: 16.66667%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-4 {
  right: 33.33333%;
}

.col-xs-pull-5 {
  right: 41.66667%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-7 {
  right: 58.33333%;
}

.col-xs-pull-8 {
  right: 66.66667%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-10 {
  right: 83.33333%;
}

.col-xs-pull-11 {
  right: 91.66667%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-push-1 {
  left: 8.33333%;
}

.col-xs-push-2 {
  left: 16.66667%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-4 {
  left: 33.33333%;
}

.col-xs-push-5 {
  left: 41.66667%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-7 {
  left: 58.33333%;
}

.col-xs-push-8 {
  left: 66.66667%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-10 {
  left: 83.33333%;
}

.col-xs-push-11 {
  left: 91.66667%;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

.col-xs-offset-1 {
  margin-left: 8.33333%;
}

.col-xs-offset-2 {
  margin-left: 16.66667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333%;
}

.col-xs-offset-5 {
  margin-left: 41.66667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333%;
}

.col-xs-offset-8 {
  margin-left: 66.66667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333%;
}

.col-xs-offset-11 {
  margin-left: 91.66667%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-pull-1 {
    right: 8.33333%;
  }
  .col-sm-pull-2 {
    right: 16.66667%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-4 {
    right: 33.33333%;
  }
  .col-sm-pull-5 {
    right: 41.66667%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-7 {
    right: 58.33333%;
  }
  .col-sm-pull-8 {
    right: 66.66667%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-10 {
    right: 83.33333%;
  }
  .col-sm-pull-11 {
    right: 91.66667%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-push-1 {
    left: 8.33333%;
  }
  .col-sm-push-2 {
    left: 16.66667%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-4 {
    left: 33.33333%;
  }
  .col-sm-push-5 {
    left: 41.66667%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-7 {
    left: 58.33333%;
  }
  .col-sm-push-8 {
    left: 66.66667%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-10 {
    left: 83.33333%;
  }
  .col-sm-push-11 {
    left: 91.66667%;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-pull-1 {
    right: 8.33333%;
  }
  .col-md-pull-2 {
    right: 16.66667%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-4 {
    right: 33.33333%;
  }
  .col-md-pull-5 {
    right: 41.66667%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-7 {
    right: 58.33333%;
  }
  .col-md-pull-8 {
    right: 66.66667%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-10 {
    right: 83.33333%;
  }
  .col-md-pull-11 {
    right: 91.66667%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-push-1 {
    left: 8.33333%;
  }
  .col-md-push-2 {
    left: 16.66667%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-4 {
    left: 33.33333%;
  }
  .col-md-push-5 {
    left: 41.66667%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-7 {
    left: 58.33333%;
  }
  .col-md-push-8 {
    left: 66.66667%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-10 {
    left: 83.33333%;
  }
  .col-md-push-11 {
    left: 91.66667%;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33333%;
  }
  .col-lg-2 {
    width: 16.66667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-5 {
    width: 41.66667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-8 {
    width: 66.66667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-11 {
    width: 91.66667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-pull-1 {
    right: 8.33333%;
  }
  .col-lg-pull-2 {
    right: 16.66667%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-4 {
    right: 33.33333%;
  }
  .col-lg-pull-5 {
    right: 41.66667%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-7 {
    right: 58.33333%;
  }
  .col-lg-pull-8 {
    right: 66.66667%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-10 {
    right: 83.33333%;
  }
  .col-lg-pull-11 {
    right: 91.66667%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-push-1 {
    left: 8.33333%;
  }
  .col-lg-push-2 {
    left: 16.66667%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-4 {
    left: 33.33333%;
  }
  .col-lg-push-5 {
    left: 41.66667%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-7 {
    left: 58.33333%;
  }
  .col-lg-push-8 {
    left: 66.66667%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-10 {
    left: 83.33333%;
  }
  .col-lg-push-11 {
    left: 91.66667%;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

tr.collapse.in {
  display: table-row;
}

tbody.collapse.in {
  display: table-row-group;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropup,
.dropdown {
  position: relative;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7;
}

.dropdown-menu>.disabled>a,
.dropdown-menu>.disabled>a:hover,
.dropdown-menu>.disabled>a:focus {
  color: #777777;
}

.dropdown-menu>.disabled>a:hover,
.dropdown-menu>.disabled>a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  cursor: not-allowed;
}

.open>.dropdown-menu {
  display: block;
}

.open>a {
  outline: 0;
}

.dropdown-menu-right {
  left: auto;
  right: 0;
}

.dropdown-menu-left {
  left: 0;
  right: auto;
}

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857;
  color: #777777;
  white-space: nowrap;
}

.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}

.pull-right>.dropdown-menu {
  right: 0;
  left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: "";
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}

@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto;
  }
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.modal-open {
  overflow: hidden;
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-content {
  position: relative;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* z-index: $zindex-modal-background; */
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-header:before,
.modal-header:after {
  content: " ";
  display: table;
}

.modal-header:after {
  clear: both;
}

.modal-header .close {
  margin-top: -2px;
}

.modal-title {
  margin: 0;
  line-height: 1.42857;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn+.btn {
  margin-left: 5px;
  margin-bottom: 0;
}

.modal-footer .btn-group .btn+.btn {
  margin-left: -1px;
}

.modal-footer .btn-block+.btn-block {
  margin-left: 0;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-sm {
    width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 12px;
  opacity: 0;
  filter: alpha(opacity=0);
}

.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}

.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}

.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}

.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  right: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 14px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.popover.top {
  margin-top: -10px;
}

.popover.right {
  margin-left: 10px;
}

.popover.bottom {
  margin-top: 10px;
}

.popover.left {
  margin-left: -10px;
}

.popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}

.popover-content {
  padding: 9px 14px;
}

.popover>.arrow,
.popover>.arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover>.arrow {
  border-width: 11px;
}

.popover>.arrow:after {
  border-width: 10px;
  content: "";
}

.popover.top>.arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
}

.popover.top>.arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #fff;
}

.popover.right>.arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999999;
  border-right-color: rgba(0, 0, 0, 0.25);
}

.popover.right>.arrow:after {
  content: " ";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #fff;
}

.popover.bottom>.arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px;
}

.popover.bottom>.arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #fff;
}

.popover.left>.arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999999;
  border-left-color: rgba(0, 0, 0, 0.25);
}

.popover.left>.arrow:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #fff;
  bottom: -10px;
}

.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-inner>.item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 1;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
  .carousel-inner>.item {
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    -moz-transition: -moz-transform 0.6s ease-in-out;
    -o-transition: -o-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
  }
  .carousel-inner>.item.next,
  .carousel-inner>.item.active.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    left: 0;
  }
  .carousel-inner>.item.prev,
  .carousel-inner>.item.active.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    left: 0;
  }
  .carousel-inner>.item.next.left,
  .carousel-inner>.item.prev.right,
  .carousel-inner>.item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}

.carousel-inner>.active,
.carousel-inner>.next,
.carousel-inner>.prev {
  display: block;
}

.carousel-inner>.active {
  left: 0;
}

.carousel-inner>.next,
.carousel-inner>.prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-inner>.next {
  left: 100%;
}

.carousel-inner>.prev {
  left: -100%;
}

.carousel-inner>.next.left,
.carousel-inner>.prev.right {
  left: 0;
}

.carousel-inner>.active.left {
  left: -100%;
}

.carousel-inner>.active.right {
  left: 100%;
}

.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: $color;
  text-align: center;
  background-color: transparent;
}

.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

.carousel-control.right {
  left: auto;
  right: 0;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.carousel-control:hover,
.carousel-control:focus {
  outline: 0;
  color: #fff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.carousel-control:hover span,
.carousel-control:focus span {
  top: 50%;
}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  z-index: 5;
  display: inline-block;
}

.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
  color: $color;
}

.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
  color: $color;
}

.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  line-height: 1;
  font-family: serif;
}

.carousel-control .icon-prev:before {
  content: '\2039';
}

.carousel-control .icon-next:before {
  content: '\203a';
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid $color;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: transparent;
}

.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: $color;
}

.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.carousel-caption .btn {
  text-shadow: none;
}

@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
  }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: -10px;
  }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right: -10px;
  }
  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px;
  }
  .carousel-indicators {
    bottom: 20px;
  }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
}

.affix {
  position: fixed;
}

@-ms-viewport {
  width: device-width;
}

.visible-xs {
  display: none !important;
}

.visible-sm {
  display: none !important;
}

.visible-md {
  display: none !important;
}

.visible-lg {
  display: none !important;
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

.visible-print {
  display: none !important;
}

@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}

.visible-print-block {
  display: none !important;
}

@media print {
  .visible-print-block {
    display: block !important;
  }
}

.visible-print-inline {
  display: none !important;
}

@media print {
  .visible-print-inline {
    display: inline !important;
  }
}

.visible-print-inline-block {
  display: none !important;
}

@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}

@media print {
  .hidden-print {
    display: none !important;
  }
}

// /* Slider */
// .slick-slider { position: relative; display: block; box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }
// .slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
// .slick-list:focus { outline: none; }
// .slick-list.dragging { cursor: pointer; cursor: hand; }
// .slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
// .slick-track { position: relative; left: 0; top: 0; display: block; }
// .slick-track:before, .slick-track:after { content: ""; display: table; }
// .slick-track:after { clear: both; }
// .slick-loading .slick-track { visibility: hidden; }
// .slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
// [dir="rtl"] .slick-slide { float: right; }
// .slick-slide img { display: block; }
// .slick-slide.slick-loading img { display: none; }
// .slick-slide.dragging img { pointer-events: none; }
// .slick-initialized .slick-slide { display: block; }
// .slick-loading .slick-slide { visibility: hidden; }
// .slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }
// .slick-arrow.slick-hidden { display: none; }
// /* $slick-font-path: "./fonts/" !default; */
// /* Slider */
// .slick-loading .slick-list { background: #fff url("../images/ajax-loader.gif") center center no-repeat; }
// /* Icons */
// /* @if $slick-font-family == "slick" { @font-face { font-family: "slick"; src: slick-font-url("slick.eot"); src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg"); font-weight: normal; font-style: normal; }
// } */
// /* Arrows */
.slick-prev, .slick-next { position: absolute; display: block; height: 20px; width: 20px; line-height: 0px; font-size: 0px; cursor: pointer; background: transparent; color: transparent; top: 50%; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); padding: 0; border: none; outline: none; }
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus { outline: none; background: transparent; color: transparent; }
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before { opacity: 1; }
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 0.25; }
.slick-prev:before, .slick-next:before { font-family: "slick"; font-size: 20px; line-height: 1; color: white; opacity: 0.75; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-prev { left: 0px; }
[dir="rtl"] .slick-prev { left: auto; right: -25px; }
.slick-prev:before { content: "←"; }
[dir="rtl"] .slick-prev:before { content: "→"; }
.slick-next { right: 0px; }
[dir="rtl"] .slick-next { left: -25px; right: auto; }
.slick-next:before { content: "→"; }
[dir="rtl"] .slick-next:before { content: "←"; }

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "○";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  content: "●";
  opacity: 0.75;
}


.slick-next, .slick-prev {
  z-index: 9;
}

.slick-next:before {
  font-family: "FontAwesome";
  content: "\f105";
  font-size: 48px;
  font-weight: bold;
  color: $color;
}
.slick-next:hover:before {
  color: $color_hover;
}

.slick-prev:before {
  font-family: "FontAwesome";
  content: "\f104";
  font-size: 48px;
  font-weight: bold;
  color: $color;

}
.slick-prev:hover:before {
  color: $color_hover;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}


/* remember to define a styles! */

:link,
 :visited {
  text-decoration: none;
}

:focus {
  outline: 0;
}


/* remember to highlight inserts somehow! */

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}


/* tables still need 'cellspacing="0"' in the markup */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table tr td {
  vertical-align: middle;
}

img {
  border: 0;
}

a {
  color: inherit;
}

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}


/* padding */

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/*@purpose To enable resizing for IE */


/*@branch For IE6-Win, IE7-Win */

input,
button,
textarea,
select {
  font-size: 100%;
}


/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}


/* other */

code,
kbd,
samp,
tt {
  font-size: 100%;
}

.logo a,
.designer_list .designer_title a,
.contact_list li:last-child a,
.nav_right li a {
  width: 100%;
  height: 100%;
  display: block;
  color: inherit;
}

.logo a {
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
}

.offer .offer_list,
.designer_list,
.contact_list,
.project_section02 .project_keyword a {
  display: inline-block;
  margin-right: 12px;
  vertical-align: top;
}

.table {
  display: table;
  border-spacing: 0.5rem;
  border-collapse: collapse;
  width: 100%;
}


/*@mixin fontall( $font-weight:normal; $font-size:14px; $line-height:1.6; $font-family:Verdana, "微軟正黑體", sans-serif;){ font-weight:$font-weight; font-size:$font-size; line-height:$line-height; font-family:$font-family; }
*/


/* animation-name: example; 動畫名稱 */


/* animation-duration: 4s; 動畫時間長度 */


/* animation-timing-function: linear; 動畫速度 */


/* animation-delay:2s; 動畫開始秒數'' */


/* animation-iteration-count: 3; 動畫循環次數 */


/* animation-direction: alternate; 動畫時間方向性 */

body,
html {
  height: 100%;
}

body {
  font: normal 16px/1.6 Helvetica, "微軟正黑體", sans-serif;
  color: $color;
}

#navbar_mobile {
  display: none;
}

#wrapper {
  max-width: 1000px;
  margin: 0px auto;
  padding: 30px 0px;
  overflow: hidden;
}

.bootstrap_default {
  padding: 0px;
  float: none !important;
}

.tag_pc {
  display: block;
}

.tag_mobile {
  display: none;
}

.clear {
  clear: both;
}


/* TABLE */

.table .table_row {
  display: table-row;
}

.table .table_row .table_cell {
  display: table-cell;
  vertical-align: middle;
}

#menu {
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: fixed;
  top: 40px;
  right: 30px;
  z-index: 100;
  text-align: center;
}

#menu span {
  width: 30px;
  height: 2px;
  background: $color;
  transition: all 0s;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  position: absolute;
  overflow: hidden;
}

#menu span:nth-child(1) {
  animation: span-first-off 0.5s ease-in-out forwards;
  -webkit-animation: span-first-off 0.5s ease-in-out forwards;
  -moz-animation: span-first-off 0.5s ease-in-out forwards;
}

#menu span:nth-child(2) {
  animation: span-second-off 0.5s ease-in-out forwards;
  -webkit-animation: span-second-off 0.5s ease-in-out forwards;
  -moz-animation: span-second-off 0.5s ease-in-out forwards;
}

#menu span:nth-child(3) {
  animation: span-third-off 0.5s ease-in-out forwards;
  -webkit-animation: span-third-off 0.5s ease-in-out forwards;
  -moz-animation: span-third-off 0.5s ease-in-out forwards;
}

.menuon {
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 30px;
  text-align: center;
}

.menuon span {
  width: 30px;
  height: 2px;
  background: $color;
  transition: all 0s;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  position: absolute;
  overflow: hidden;
}

.menuon span:nth-child(1) {
  animation: span-first-on 0.5s ease-in-out forwards;
  -webkit-animation: span-first-on 0.5s ease-in-out forwards;
  -moz-animation: span-first-on 0.5s ease-in-out forwards;
}

.menuon span:nth-child(2) {
  animation: span-second-on 0.5s ease-in-out forwards;
  -webkit-animation: span-second-on 0.5s ease-in-out forwards;
  -moz-animation: span-second-on 0.5s ease-in-out forwards;
}

.menuon span:nth-child(3) {
  animation: span-third-on 0.5s ease-in-out forwards;
  -webkit-animation: span-third-on 0.5s ease-in-out forwards;
  -moz-animation: span-third-on 0.5s ease-in-out forwards;
}

nav {
  width: 100%;
  height: 100%;
  padding-top: 120px;
  background: $color_thi;
  display: none;
  position: fixed;
  z-index: 9998;
}

footer {
  width: 100%;
  font-size: 12px;
  text-align: center;
  position: absolute;
  bottom: 30px;
}

.logo {
  background: url(<%= asset_path('logo.png') %>) no-repeat center right;
  width: 68px;
  background-size: contain;
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 100;
}

.lan {
  font-size: 12px;
  position: fixed;
  top: 40px;
  right: 90px;
  z-index: 100;
}

.i_des {
  max-width: 900px;
  font-size: 60px;
  color: $color_thi
}

.i_des span {
  font-size: 16px;
  display: block;
}

.i_title {
  color: $color_sec;
  font-size: 32px;
  padding: 30px 0px 30px 0px;
}

.title {
  color: $color_sec;
  font-size: 60px;
  padding: 0px 0px 15px 0px;
}

.container {
  max-width: 1200px;
  overflow: hidden;
}

#offers {
  h1 {
    margin-top: 20px;
    margin-bottom: 40px;
    color: $color_sec;
    font-size: 32px;
    padding: 0;
  }

  .row {
    margin: 30px 0;
    color: $color;
    .offer {
      padding: 0;
      padding-right: 50px;
    }
    h3 {
      font-size: 32px;
    }
    p {
      font-size: 16px;
    }
  }
}


#section2{
  background-color: $color_sec;
  .title_project {
    margin-top: 3%;
    margin-bottom: 1%;
    font-size: 32px;
    color: $color;
    padding: 0;
  }

  #project_category {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 16px;
    display: inline-block;
    color: white;
    position: relative;
  }

  #project_category a:after {
    @include after_underline;
  }

  #project_category:hover a:after {
    @include after_hover_underline;
  }


  .project {
    position: relative;
    h3 {
      position: absolute;
      top: 30px;
      left: 30px;
      font-size: 32px;
      font-weight: bold;
      line-height: 1.3;
      color: white;
      z-index: 2;
      transition: color 0.5s;
      -webkit-transition: color 0.5s;
      -moz-transition: color 0.5s;

      &:before {
        @include after_underline;
      }
    }

    img {
      width: 90%;
    }

    .mask {
      width: 90%;
      height: 100%;
      background: rgba(242, 239, 218, 0.7);
      opacity: 0;
      position: absolute;
      left: 0px;
      top: 0px;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
    }

    &:hover {
      .mask {
        opacity: 1;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
      }

      h3 {
        color: $color;
      }
      h3:before {
        @include after_hover_underline;
      }
    }
  }

  .slick-next {
    right: 10%;
  }

  h4 {
    font-size: 16px;
    color: $color;
    margin-top: 27px;
  }

}


.more {
  margin-top: 66px;
  margin-bottom: 66px;
  a {
    margin-top: 30px;
    position: relative;
    display: inline-block;
    color: $color_sec;
  }
  span:after {
    @include after_underline;
  }
}

.more:hover span:after {
  @include after_hover_underline;
}

#section4 {
  position: relative;
}

#section3 .container {
  margin-top: 0;
}

#section3 {
  b {
    font-weight: bold;
  }
  .i_title {
    padding: 3% 0 30px 0;
  }
}

.designer_des {
  max-width: 900px;
  font-size: 60px;
  padding: 3% 0px 3% 0px;
}

.designer_des span {
  color: $color_hover;
}

.designer_list div {
  padding: 0;
}

.designer_list .designer_photo {
  position: relative;
  cursor: pointer;
}

.designer_list .designer_photo img {
  width: 200px;
  height: auto;
}

.designer_list .designer_photo .mask {
  width: 100%;
  height: calc(100% - 8px);
  background: rgba(242, 239, 218, 0.7);
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
}

.designer_list .designer_title {
  font-size: 32px;
  span {
    position: relative;
    display: inline-block;
    width: auto;
  }
  span:after {
    @include after_underline;
  }
}

.designer_list:hover span:after {
  @include after_hover_underline;
}

.designer_list .designer_job {
  color: $color_sec;
  font-size: 16px;
}

.designer_list:hover .mask {
  width: 200px;
  opacity: 1;
}

.designer_list {
  margin: 0;
  padding: 0;
}

.container_contact {
  height: 100%;
  display: block;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.contact_mask {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 60%;
  z-index: 2;
  opacity: 0.7;
  background-color: white;
}

.contact_map_section {
  .container_info {
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
    z-index: 3;
    margin: 0;
    overflow: hidden;
    padding-left: 15px;

    .all {
      margin: 0 auto;
      width: 100vw;
    }

    div {
      z-index: 3;
    }
  }

  .contact_map {
    border: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
  }
}

.section5 .i_title {
  font-size: 60px;
}

.contact_des {
  font-size: 32px;
}

.contact_list {
  padding-right: 30px;
}

.contact_list li:nth-child(4) {
  margin-bottom: 15px;
}

.contact_list li:last-child {
  margin-top: 5px;
}

.contact_list li:last-child:hover span {
  box-shadow: inset 0 -3px $color_hover;
  -moz-box-shadow: inset 0 -3px $color_hover;
  -webkit-box-shadow: inset 0 -3px $color_hover;
  transition: all 0s;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
}

.contact_list .contact_email {
  width: 480px;
  height: 30px;
  margin-bottom: 10px;
}

.contact_list .contact_textarea {
  width: 480px;
  height: 200px;
}

.contact_list input,
.contact_textarea {
  background: $color_sec;
  padding: 15px 0 15px 1px;
  border: 0px;
  color: white;

  @include placeholder-color(white);
  @include border-radius(0px);
}

#submit_btn {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  padding-left: 1px;
  color: $color;
}

.btn_underline {
  display: inline-block;
  position: relative;
  span:after {
    @include after_underline;
  }
}

.btn_underline:hover span:after {
  @include after_hover_underline;
}

.container_conatct {
  margin-top: calc(50% - 400px);
}

.nav_left li {
  margin-bottom: 30px;
}

.nav_left .nav_name {
  font-size: 32px;
  font-weight: bold;
  img {
    height: 40px;
  }
}

.nav_sns {
  background: url(<%= asset_path('icon01.png') %>) no-repeat center left;
  display: block;
  font-size: 16px;
  color: $color;
  padding-left: 30px;
  opacity: 0.4;
  transition: all 0s;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
}

.nav_left .nav_sns:hover {
  opacity: 1;
  transition: all 0s;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
}

.nav_left .nav_email input {
  width: 300px;
  background: none;
  padding: 10px;
  border: 1px $color solid;
  margin-right: -10px;
  color: $color;
  @include border-radius(0px);
  @include placeholder-color($color);
}

.nav_left .nav_email button {
  background: $color;
  color: #fff;
  padding: 11px;
  margin-left: -1px;
  cursor: pointer;
}

#subscribe_form {
  button {
    border: none;
  }
  button:hover {
    background: $color_hover;
  }
}

.nav_right {
  float: right !important;
  font-size: 32px;

  #middle_link {
    margin: 55px 0;
  }


  h1 {
    a {
      position: relative;
    }
    span::after {
      @include after_underline;
    }
  }

  h1:hover span::after {
    @include after_hover_underline;
  }
}

.nav_right li {
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
}

.nav_right li span::after {
  @include after_underline;
}

.nav_right li:hover span::after {
  @include after_hover_underline;
}

#canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0px;
  z-index: -1;
}

.section {
  background-color: transparent;
}

#section6 {
  background-color: $color_thi !important;
}

.about_des {
  font-size: 32px;
  padding: 7.8% 0 13.5% 0;
  color: $color_sec;
}

.about_section01 {
  width: 100%;
  background-size: cover;
}

#whywhatwho_section0 {
  .container {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }
  .i_des {
    color: $color;
    span {
      width: 40%;
      strong {
        color: red;
      }
    }
  }
}

#why_slick {
  position: absolute;
  height: 66.66%;
  width: 100%;
  left: 0;
  top: 33.33%;
  overflow: hidden;

  .slick-dots {
    position: absolute;
    bottom: 25px;
    z-index: 5;
  }

  .slick_img {
    position: relative;
    height: 66.6vh;
    width: 100%;

    ul {
      .i_title {
        color: $color_sec;
      }
      .i_des {
        color: $color;
      }
    }
    .slick_bg {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0.3;
      z-index: -1;

      img {
        width: 100%;
      }
    }
  }
}

.about_section01 .i_title {
  margin: 8% 0px 35px 0px;
  padding: 0;
  color: $color_sec
}

#projects_page {
  .title_project {
    font-size: 32px;
    color: $color_sec;
    margin-top: 5%;
    margin-bottom: 22px;
    padding: 0;
  }
  .categories {
    margin-bottom: 35px;

    span {
      position: relative;
      display: inline-block;
      margin-right: 10px;
      cursor: pointer;

      i:before {
        content: ' ';
        position: absolute;
        width: 100%;
        border-bottom: 2px solid $color;
        display: none;
      }

      &:hover i:before, &.active i:before {
        display: block;
      }
    }
  }


  .project {
    position: relative;
    color: $color;
    height: 100%;
    line-height: 1.3;
    margin-bottom: 30px;
    display: none;

    .title {
      position: absolute;
      top: 30px;
      left: 32px;
      color: white;
      padding-bottom: 0;
      z-index: 2;
      transition: color 0.5s;
      -webkit-transition: color 0.5s;
      -moz-transition: color 0.5s;
      h4 {
        font-size: 25px;
        margin-bottom: 7px;
      }

      h3 {
        font-size: 32px;
      }

      h3:before {
        @include after_underline;
      }
    }

    img {
      width: 100%;
    }

    .mask {
      width: 100%;
      height: 100%;
      background: rgba(242, 239, 218, 0.7);
      opacity: 0;
      position: absolute;
      left: 0px;
      top: 0px;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      z-index: 1;
    }

    &:hover {
      .mask {
        opacity: 1;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
      }

      h3, h4 {
        color: $color;
      }
      h3:before {
        @include after_hover_underline;
      }
    }
  }
}

// footer of projects pages
body.projects_body #section6 {
  height: 100vh;
}

#section0 .project_des {
  font-size: 16px;
  margin-bottom: 60px;
}

#section0 .project_des a {
  display: inline_block;
  margin-right: 20px;
}

#section0 .project_des a:hover span {
  box-shadow: inset 0 -3px $color;
  -moz-box-shadow: inset 0 -3px $color;
  -webkit-box-shadow: inset 0 -3px $color;
  transition: all 0s;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
}

.project_section01 {

  h3 {
    font-size: 14px;
  }

  h1 {
    font-size: 60px;
    margin-top: 15px;
    margin-bottom: 52px;
    line-height: 1;
  }

  article {
    font-weight: bold;
    font-size: 16px;
  }
}

.project_title02 {
  color: $color_sec;
  margin-bottom: 25px;
}

.project_title02 span {
  font-size: 32px;
  display: block;
}

.project_section01 {
  background-size: cover;
}

.project_section01 .container {
  background: rgba(255, 255, 255, 0.7);
  padding: 50px;
  margin-left: 16.67%;
}

.project_section01 .container li:nth-child(2) {
  font-size: 60px;
  margin: 15px 0px 20px 0px;
}

.project_section01 .container li:nth-child(2) span {
  width: 70px;
  height: 5px;
  color: $color_thi;
  display: block;
}

.project_section01 .container li:nth-child(3) {
  margin-top: 25px;
}

.project_section02 .project_des {
  text-align: center;
  margin: 85px 0 85px 0;
}

.project_section02 .project_des span {
  font-size: 25px;
  text-align: left;
  display: block;
}

.project_section02 .project_list {
  margin-bottom: 100px;
}

.project_section02 .project_list li {
  border-left: 1px $color solid;
  padding: 0px 20px;
  margin-bottom: 30px;
}

.project_section02 .project_list li span {
  font-weight: bold;
  display: block;
}

.link_out {
  border: 1px $color solid;
  padding: 11px 10px;
  margin-bottom: 32px;
  display: inline-block;
  -webkit-transition: color 0.5s ease;
     -moz-transition: color 0.5s ease;
      -ms-transition: color 0.5s ease;
       -o-transition: color 0.5s ease;
          transition: color 0.5s ease;

  &:hover {
    color: white;
    background-color: $color;
  }
}

.project_section02 .project_keyword span {
  display: block;
}

.project_video{
  h2 {
    font-weight: bold;
  }
}

.project_section03 {
  overflow: hidden;
}

.project_video .project_title02 {
  padding: 0;
}

.project_section05 {
  background-size: cover;

  article {
    overflow: scroll;
    height: calc(100vh - 100px);
    width: 100%;
    padding: 50px 0;
    strong {
      font-weight: bold;
    }
    .simplebar-content {
      overflow-x: unset;
    }
  }
}

.project_section06 .contact_list li:nth-child(1) {
  font-size: 32px;
  margin-bottom: 15px;
}

.project_section06 .contact_list li:nth-child(2) {
  margin-bottom: 30px;
}

.project_section06 .contact_list li:nth-child(4) {
  margin-bottom: 0px;
}

.project_section06 .contact_list #submit_btn {
  margin-top: 0px;
}

.project_section06 .project_title02 {
  padding: 0;
}

.alpha_bg {
  position: absolute;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.project_section02 {
  .project_des {
    margin-top: 5%;
    margin-bottom: 0;
  }
}

.widget-title {
  position: relative;
  text-align: left;
  padding: 15px 5%;
  font-size: 25px;
  font-weight: bold;
}

.widget-title:before {
  content: " ";
  position: absolute;
  border-left: 7px solid $color;
  border-top: 7px solid $color;
  border-bottom: 7px solid $color;
  padding: 5px;
  top: -10px;
  bottom: -10px;
  left: -5px;
}

.widget-title:after {
  content: " ";
  position: absolute;
  border-right: 7px solid $color;
  border-top: 7px solid $color;
  border-bottom: 7px solid $color;
  padding: 5px;
  top: -10px;
  bottom: -10px;
  right: -5px;
}

.project_section03 {
  .container {
    margin: 0;
  }
}

.final_content {
  height: 100vh;
  .final_pic {
    overflow: hidden;
    height: 100vh;
    img {
      width: 100%;
      margin: 0 auto;
    }

    video {
      height: 100vh;
      width: 100%;
      margin: 0 auto;
      display: block;
      overflow: hidden;
    }
  }
}

#final_title {
  position: absolute;
  transition: color 1s;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  bottom: 64px;
  color: $color_thi;

  &.dark {
    color: $color;
  }
  h1 {
    font-size: 32px;
  }
  h3 {
    font-size: 16px;
  }
  z-index: 5;
}

#final_nav {
  .mask {
    width: 100%;
    height: 100%;
    background: rgba(242, 239, 218, 0.7);
    opacity: 0;
    position: absolute;
    transition: all 0s;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    z-index: 10;
  }

  .nav_pic:hover .mask {
    opacity: 1;
    transition: all 0s;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
  }
}

.project_type {
  display: inline-block;
  margin-right: 24px;

  &:hover {
    text-decoration: underline;
  }
}

.project_section04 {
  .container {
    margin: 0 auto;
    .row {
      margin: 0;
    }
    div {
      padding: 0;
    }
  }

  #video_for {
    margin-bottom: 15px;
    .slick-slide {
      img {
        width: 100%;
        height: 85vh;
      }

      video {
        width: 100%;
      }
    }
  }


  .process_title {
    h3 {
      line-height: 1.5;
    }
    h2 {
      font-size: 32px;
      font-weight: bold;
    }

    height: calc(15vh - 15px);
    overflow: hidden;
  }
  #video_nav {
    padding: 0;

    .slick-slide {
      padding: 0 2px;
      img {
        height: 100%;
        width: calc(100% - 4px);
      }
    }
  }
}

.project_title02 {
  padding-top: 50px;
}

.project_title03 {
  padding: 0;
}

.project_section05 {
  ul {
    padding-top: 5%;
  }
}

.project_section02 {
  ul.project_list {
    margin-bottom: 5%;
  }
}

#section0 .contact_des {
  font-size: 32px;
  margin-bottom: 60px;
}

.underline {
  display: inline;
  position: relative;
  overflow: hidden;
}

.underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #000;
  height: 4px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

input:-webkit-autofill, textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px $color_sec inset;
    -webkit-text-fill-color: white;
}

@keyframes bright {
  0% {
    filter: brightness(1);
    filter: contrast(1);
    -webkit-filter: brightness(1);
    -webkit-filter: contrast(1);
  }
  50% {
    filter: brightness(1.6);
    filter: contrast(1.6);
    -webkit-filter: brightness(1.6);
    -webkit-filter: contrast(1.6);
  }
  100% {
    filter: brightness(1);
    filter: contrast(1);
    -webkit-filter: brightness(1);
    -webkit-filter: contrast(1);
  }
}

@keyframes scale {
  0% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes rotate-360 {
  0% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
}

@-webkit-keyframes rotate360 {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@keyframes span-first-on {
  0% {
    transform: translate(-50%, -300%);
    -webkit-transform: translate(-50%, -300%);
    -moz-transform: translate(-50%, -300%);
  }
  30% {
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -moz-transform: translate(-50%, -50%) rotate(-45deg);
  }
}

@keyframes span-first-off {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -moz-transform: translate(-50%, -50%) rotate(-45deg);
  }
  30% {
    transform: translate(-50%, -50%) rotate(0deg);
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -300%);
    -webkit-transform: translate(-50%, -300%);
    -moz-transform: translate(-50%, -300%);
  }
}

@keyframes span-second-on {
  0% {
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-150%, -50%) scale(0);
    -webkit-transform: translate(-150%, -50%) scale(0);
    -moz-transform: translate(-150%, -50%) scale(0);
  }
}

@keyframes span-second-off {
  0% {
    transform: translate(-100%, -50%) scale(0);
    -webkit-transform: translate(-100%, -50%) scale(0);
    -moz-transform: translate(-100%, -50%) scale(0);
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, 200%);
    -webkit-transform: translate(-50%, 200%);
    -moz-transform: translate(-50%, 200%);
  }
}

@keyframes span-third-on {
  0% {
    transform: translate(-50%, 200%);
    -webkit-transform: translate(-50%, 200%);
    -moz-transform: translate(-50%, 200%);
  }
  30% {
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
  }
}

@keyframes span-third-off {
  0% {
    transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
  }
  30% {
    transform: translate(-50%, -50%) rotate(0deg);
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, 700%);
    -webkit-transform: translate(-50%, 700%);
    -moz-transform: translate(-50%, 700%);
  }
}


/*Styles for screen 1024px and lower*/


/*Styles for screen 1000px and lower*/

@media screen and (max-width: 1000px) {
  .i_des br {
    display: none;
  }
}


/*Styles for screen 768px and lower*/

@media screen and (max-width: 768px) {
  .container {
    padding: 90px 30px 30px 30px;
  }
  .container_conatct {
    padding: 120px 30px 30px 30px;
    margin-top: calc(50% - 300px);
  }
}


/*Styles for screen 640px and lower*/

@media screen and (max-width: 768px) {
  body {
    font: normal 15px/1.6 Helvetica, "微軟正黑體", sans-serif;
    color: $color;
  }

  .container {
    padding: 0 4%;
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4,
    .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8,
    .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
      padding: 0 1%;
    }
  }

  .tag_pc {
    display: none;
  }
  .tag_mobile {
    display: block;
  }

  .logo {
    top: 16px;
    height: 18px;
    left: 5%;
    width: 50px;
  }

  .lan {
    top: 20px;
  }

  #menu {
    top: 22px;
  }

  #navbar_mobile{
    display: block;
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
  }

  #canvas {
    position: fixed;
  }

  .i_des {
    padding-top: 10vh;
    max-width: 900px;
    font-size: 30px;
    color: $color;
  }
  .i_des br {
    display: none;
  }

  #offers h1,
  #section3 .i_title,
  .i_title {
    font-size: 15px;
    margin: 30px 0;
    padding: 0;
  }
  .title {
    font-size: 30px;
    color: $color;
    margin-top: 60px;
  }

  #offers {
    .row {
      margin: 0;
    }
  }
  .offer {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .title_project {
    margin-bottom: 10px;
  }

  .project_list .project_title {
    font-size: 30px;
    padding: 15px;
  }
  .designer_des {
    font-size: 20px;
  }
  .designer_list .designer_title {
    font-size: 15px;
  }

  .designer_list {
    position: relative;

    .designer_photo {
      line-height: 0px;
      .mask {
        width: 100%;
      }
      padding: 0 1px 0 0;
      img {
        width: 100%;
      }
    }

    .designer_title {
      position: absolute;
      bottom: 0;
      left: 60%;
    }
  }
  .contact_des {
    font-size: 30px;
  }
  .contact_list .contact_email {
    width: 100%;
  }
  .contact_list .contact_textarea {
    width: 100%;
  }

  .contact_mask {
    display: none;
  }

  .contact_map_section {
    .contact_map {
      margin-top: 50px;
      position: static;
      z-index: 3;
      height: 300px;
      display: block;
      position: static;
    }

    .container_info {
      margin-top: 0 !important;
      width: 100%;
      position: static;
    }
  }

  .whywhatwho_body {
    #whywhatwho_section0 {
      .i_des {
        span {
          width: 100%;
        }
      }
    }
    #section3 .container {
      margin-bottom: 50px;
    }
  }

  #section5 .fp-tableCell{
    vertical-align: top;
    height: 900px !important;
  }

  .nav_left .nav_email input {
    width: calc(100% - 89px);
    @include border-radius(0px);
  }
  .nav_right {
    margin-bottom: 50px;
    float: none !important;
    font-size: 20px;
  }
  .about_des {
    margin-top: 25%;
    font-size: 30px;
    margin-bottom: 120px;
  }
  .modal-content {
    .d_experience {
      .row {
        padding: 0;
        margin: 6px 0;
      }
      span:nth-child(2n) {
        text-align: right;
      }

      span:nth-child(3), span:nth-child(4) {
        color: #ebebeb
      }
    }
  }

  #section0 .project_des a {
    width: 33.333%;
    display: inline-block;
    margin-right: 0px;
  }

  #section2{
    .title_project {
      font-size: 15px;
      margin-bottom: 14px;
    }

    #inco_category {
      font-size: 20px;
      margin-bottom: 12px;
    }

    .project {
      img {
        width: 100%;
      }
      .mask {
        width: 100%;
      }
      h3 {
        font-size: 20px;
      }
    }
  }

  .project_title02 {
    font-size: 15px;
  }
  .project_title02 span {
    font-size: 15px;
    margin-right: 20px;
    display: inline-block;
  }

  .project_section01 .container {
    background: rgba($color_thi, 0.7);
    height: 50%;
    width: 100%;
    padding: 0px;
    margin-left: 0%;
  }

  .project_section01 {
    display: block !important;
    height: 330px !important;
    position: relative;

    .fp-tableCell {
      display: block;
      height: 330px;

      .container {
        background: rgba($color_thi, 0.7);
        height: auto;
        width: 100%;
        padding: 0px;
        margin-left: 0%;
        position: absolute;
        bottom: 0;
        padding-top: 15px;
        padding-left: 15px;

        h3 {
          font-size: 20px;
          position: relative;

          &:before {
            content: ' ';
            width: 110px;
            height: 2px;
            background-color: $color_hover;
            position: absolute;
            bottom: 0px;
            left: 0;
          }
        }

        h1 {
          font-size: 40px;
          font-weight: bold;
        }
      }
    }
  }

  #project_description{
    padding: 24px 15px;
    font-size: 20px;
  }

  .project_section01 .container li:nth-child(2) {
    font-size: 32px;
    margin: 10px 0px 10px 0px;
  }
  .project_section01 .container li:nth-child(2) span {
    display: none;
  }
  .project_section02 .project_des {
    text-align: left;
    margin-bottom: 85px;
  }
  .project_section02 .project_des span {
    font-size: 20px;
    text-align: left;
    display: block;
  }

  .project_section02 .project_list li {
    font-size: 20px;
  }

  .project_keyword {
    margin-bottom: 80px;
    a {
      margin: 10px;
      margin-left: 0;
    }
  }

  .project_section03 .container {
    padding: 0 15px;
  }

  .project_section04 {
    overflow: hidden;
  }
  .project_section04 .project_vedio li {
    display: block;
  }
  .project_section04 .project_vedio li:nth-child(2) {
    font-size: 20px;
  }
  .project_section04 .project_vedio .small {
    display: none;
  }

  .final_content .final_pic {
    overflow: hidden;
    height: auto;
    video {
      height: auto;
      width: 100%;
      margin: 0 auto;
      display: block;
      overflow: hidden;
    }
  }

  .project_section04 {
    .container {
      padding-left: 15px;
    }
    img {
      width: 100%;
    }

    #video_for .slick-slide {
      height: auto;
      img {
        width: 100%;
        height: auto;
      }

      video {
        width: 100%;
      }
    }
  }

  .project_section06 .contact_list li:nth-child(1) {
    font-size: 20px;
  }
  #section0 .contact_des {
    font-size: 20px;
  }

  .nav_right #middle_link {
    margin: 20px 0;
  }

  #why_slick .slick_img{
    .slick_bg {
      overflow: hidden;
      img {
        height: 100%;
        width: unset;
        @include transform(translateX(-25%));
      }
    }
  }

  .modal {
    .d_dot {
      margin-bottom: 0;
    }

    .d_name {
      margin: 0;
      padding: 0 0 24px 0;
    }

    .d_award {
      margin: 0;
    }
  }

  #projects_page {
    .title_project {
      color: $color;
      font-size: 30px;
      margin-top: 100px;
      margin-bottom: 0;
    }

    .categories {
      margin-bottom: 10px;
      .category_btn {
        display: block;
        span {
          position: relative;
          display: inline-block;
        }
      }
    }

    .project {
      margin-bottom: 20px;

      .title {
        margin-top: 0;
        top: 12px;
        left: 12px;
        h3 {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }

  #project_container {
    #section1 {
      margin-top: 50px;
      .heros {
        position: relative;;
        overflow: hidden;
        height: 280px;
        width: 100%;
        background: no-repeat center center;

        img {
          z-index: 1;
          height: 100%;
        }
        .head_line {
          position: absolute;
          background-color: rgba($color_thi, 0.7);
          bottom: 0;
          padding: 15px 15px 0 15px;
          z-index: 2;
          width: 100%;
          h3 {
            font-size: 20px;
            position: relative;
            line-height: 1.5;
          }

          h1 {
            font-size: 30px;
            line-height: 1.4;
            font-weight: bold;
          }
        }
      }

      article {
        padding: 24px 15px 45px 15px;
        font-size: 20px;
      }
    }

    .project_section02 {
      padding-left: 15px;
      padding-right: 15px;

      .widget-title {
        p {
          font-weight: bold;
        }
        margin-top: 80px;
        margin-bottom: 50px;
        padding: 0 30px;

        &:before {
          border-left: 15px solid $color;
          border-top: 15px solid $color;
          border-bottom: 15px solid $color;
        }

        &:after {
          border-right: 15px solid $color;
          border-top: 15px solid $color;
          border-bottom: 15px solid $color;
        }
      }
    }

    #section3 {
      h3 {
        padding-left: 15px;
      }

      .final_content {
        margin-bottom: 80px;
        height: auto;
      }
    }

    #section4 {
      margin-bottom: 80px;
      .project_title02 {
        padding-left: 15px;
      }

      #video_for_mobile {
        img {
          width: 100%;
        }

        video {
          width: 100%;
        }
      }
    }

    #section5 {
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 80px;
      article {
        font-size: 20px;
      }
    }

    .section6 {
      margin-bottom: 100px;
      padding-left: 15px;
      padding-right: 15px;

      h3 {
        margin-bottom: 0;
      }

      h2 {
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 10px;
        font-weight: bold;
      }

      p {
        font-size: 15px;
        line-height: 1.8;
        margin-bottom: 10px;
      }

      form {
        input {
          width: 100%;
          background-color: $color_sec;
          padding: 10px;
          color: white;
          border: none;
          margin-bottom: 5px;
          @include placeholder-color(white);
          @include border-radius(0px);
        }

        textarea {
          width: 100%;
          height: 170px;
          background: $color_sec;
          padding: 10px;
          border: 0px;
          color: white;
          @include placeholder-color(white);

        }

        #submit_btn {
          text-align: left;
          background-color: transparent;
          cursor: pointer;
          padding: 10px;
          color: $color;
        }
      }
    }

  }

  .mobile_menu{
    .menuon {
      top: 30px;
      z-index: 100;
    }
    .footer_logo {
      padding-top: 60px;
      img {
        height: 20px;
      }
      margin-bottom: 100px;
    }

    .links {
      margin-bottom: 70px;
      h1 {
        font-size: 20px;
        margin: 24px 0;
        line-height: 1;
      }
    }

    .info {
      font-size: 15px;
      margin-bottom: 15px;

      form {
        margin-top: 15px;
        font-size: 15px;
        input {
          border: 1px $color solid;
          background-color: transparent;
          height: 40px;
          padding-left: 5px;
          margin-right: -10px;
          width: 70%;
          font-weight: bold;
          vertical-align: bottom;
          @include placeholder-color($color);
          @include border-radius(0px);
        }

        button {
          border: 1px $color solid;
          color: $color_thi;
          background-color: $color;
          height: 40px;
          width: 30%;
          padding-left: 2px;
          padding-right: 2px;
          font-weight: bold;
        }
      }
    }

    .footer {
      margin-top: 35px;
      text-align: center;
      font-size: 10px;
      line-height: 1.3;
      margin-bottom: 6px;
    }
  }

  nav {
    padding-top: 0;
  }

}

@media screen and (max-width: 568px) {
  .about_des {
    font-size: 25px
  }
}


/*Styles for screen 480px and lower*/
