<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="。">
    <meta name="keywords" content="">
    <title>in-co studio | 多邊圓工作室</title>
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121775938-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-121775938-1');
    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'pages', media: 'all' %>
    <%= javascript_include_tag 'pages' %>
    <script>
      var page_change_interval = 700; // the scrollingSpeed

      $(document).ready(function() {
        <% if params[:action] != 'projects' %>
        $('#fullpage').fullpage({
          lockAnchors: true, // disable the anchor functionality
          scrollingSpeed: page_change_interval,
          fixedElements: ".team-modal",
          scrollOverflow: true,
          responsiveWidth: 900,
          normalScrollElements: '.contact_map, .modal, .finding_article',
          // only in index there has the animation
          onLeave: function(index, nextIndex, direction) {
          <% if params[:action] == 'index' %>
              //after leaving section 2
              if (index == 2 && direction == 'up') {
                percentDirection = -100 / (page_change_interval / 20.0);
                animate();
                $('#navbar_mobile').animate({backgroundColor: 'transparent'}, 500);
              }

              if (index == 1 && direction == 'down') {
                percentDirection = 100 / (page_change_interval / 20.0);
                animate();
                $('#navbar_mobile').animate({backgroundColor: 'white'}, 500);
              }
          <% end %>
            }
        });
        //adding the actions to the buttons
        $(document).on("click", "#menu", function() {
          $.fn.fullpage.setAllowScrolling(false);
        });
        $(document).on("click", ".menuon", function() {
          $.fn.fullpage.setAllowScrolling(true);
        });
        <% end %>

        <% if params[:action] == 'index' || params[:action] == 'whywhatwho' %>
          $("#js-rotating").Morphext({
            animation: 'fadeIn',
            speed: 1500
          });
        <% end %>
      });
    </script>
  </head>

  <body class="<%= params[:action] + '_body' %>">
    <%= render "pages/partials/header" %>

    <% if params[:action] == 'index' %>
      <!-- this canvas shows the animation of polygon to circle, see tween.js for detail -->
      <canvas id="canvas"></canvas>
    <% end %>

    <div id="fullpage">
      <%= yield %>
      <%= render "pages/partials/footer" %>
    </div>
  </body>

</html>
